<header>
    <div id="navIcons">
      <a href="/">
        <span>&lt;anajgaspar/&gt;</span>
      </a>
      <div class="menu-toggle" id="menuToggle">
        <i class="fas fa-bars"></i>
      </div>
    </div>
    <nav id="navMenu">
      <a href="/">Início</a>
      <a href="/sobre">Sobre</a>
      <a href="/habilidades">Competências</a>
      <a href="/projetos">Projetos</a>
      <a href="/contato">Contato</a>
    </nav>
</header>
<script>
  const toggle = document.getElementById('menuToggle');
  const navMenu = document.getElementById('navMenu');

  if (toggle) {
    toggle.addEventListener('click', () => {
      navMenu.classList.toggle('show');
      toggle.classList.toggle('open');
    });
  }
</script>