* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
}

body {
    background-color: #2c0044;
    color: #ffffff;
    padding-top: 80px;
}

#habilidades {
    min-height: 87vh;
    padding: 5rem 10%;
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

#habilidades h2 {
    font-size: 2.5rem;
    font-weight: 700;
    color: #ffffff;
}

#habilidades hr {
    width: 60px;
    height: 4px;
    border: none;
    background-image: linear-gradient(to left, #FF67B6, #9E56C6, #3E46D7);
    margin-bottom: -2rem;
}

.competencias-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 30px;
}

.card-competencia {
  background-color: #fff;
  color: #333;
  width: 350px;
  border-radius: 16px;
  padding: 25px 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-competencia:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.3);
}

.card-competencia h3 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 1.5rem;
  color: #6b21a8;
}

.card-competencia .tecnologias {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.card-competencia .tecnologias {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.card-competencia .tecnologia {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90px;
  text-align: center;
}

.card-competencia .tecnologia img {
  width: 35px;
  height: auto;
  transition: transform 0.3s ease;
}

.card-competencia .tecnologia img:hover {
  transform: scale(1.1);
}

.card-competencia .tec-nome {
  margin: 8px 0 2px;
  font-weight: 600;
  font-size: 1rem;
  color: #4b0082;
}

.card-competencia .tec-nivel {
  font-size: 0.85rem;
  color: #6b7280;
}

@media (max-width: 768px) {
    #habilidades {
        padding: 0 10%;
    }

    .card-competencia {
        padding: 25px 15px;
    }

    .tecnologia {
        width: 70px;
    }

    .tecnologia img {
        width: 40px;
    }
}