* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #2c0044;
    color: #ffffff;
    padding-top: 80px;
}

header {
    width: 100%;
    padding: 1.5rem 5%;
    background-color: #2c0044;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    border-bottom: 1px solid #1f1f1f;
}

header span {
    font-size: 1.5rem;
    font-weight: 600;
    color: #ffffff;
}

header a {
    text-decoration: none;
}

#navMenu {
    display: flex;
    gap: 2rem;
}

#navMenu a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s;
    position: relative;
}

#navMenu a::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: #9e6ffe;
    transition: width 0.3s ease-in-out;
}

#navMenu a:hover {
    color: #b18cff;
}

#navMenu a:hover::after {
    width: 100%;
}

.menu-toggle {
    display: none;
    font-size: 24px;
    cursor: pointer;
}

.menu-toggle i {
  transition: transform 0.3s ease;
}

.menu-toggle.open i {
  transform: rotate(90deg);
}

#navIcons {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

@media (max-width: 768px) {
    #navMenu {
        background-color: #2c0044;
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        flex-direction: column;
        display: none;
        text-align: center;
    }

    #navMenu.show {
        display: flex;
    }

    #navMenu.show a {
        font-size: 0.95rem;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 20px;
    }

    header span {
        font-size: 1.3rem;
    }

    body {
        padding-top: 250px;
    }

    .menu-toggle {
        display: block;
    }
}