* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #2c0044;
    color: #ffffff;
    padding-top: 80px;
}

#projetos {
    min-height: 87vh;
    padding: 5rem 10%;
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

#projetos h2 {
    font-size: 2.5rem;
    font-weight: 700;
    color: #ffffff;
}

#projetos hr {
    width: 60px;
    height: 4px;
    border: none;
    background-image: linear-gradient(to left, #FF67B6, #9E56C6, #3E46D7);
    margin-bottom: -2rem;
}

#projetos {
    min-height: 87vh;
    padding: 5rem 10%;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

#projetos hr {
    width: 60px;
    height: 4px;
    border: none;
    background-image: linear-gradient(to left, #FF67B6, #9E56C6, #3E46D7);
    margin-bottom: -2rem;
}

.projetos-texto {
    font-size: 1rem;
    line-height: 1.7;
    color: #d9d9d9;
}

.projetos-cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    padding: 8px;
    background-color: #ffffff;
    text-decoration: none !important;
}

.card:hover {
    transform: translateY(-5px);
    transition: transform 0.3s ease;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.3);
}

.card img {
    width: 100%;
    border-radius: 8px;
    max-width: 300px;
    height: auto;
}

.card h4 {
    color: #4b0082;
}

@media (max-width: 768px) {
    #projetos h2 {
        font-size: 2.2rem;
    }

    .projetos-texto {
        font-size: 0.95rem;
    }

    .projetos-cards {
        flex-direction: column;
    }
}